services:
  postgres:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_DB: auth
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
    ports:
      - "5432:5432"
    volumes:
      - ./auth-service/migrations:/docker-entrypoint-initdb.d

  auth-service:
    build:
      context: .
      dockerfile: auth-service/Dockerfile
    ports:
      - "${AUTH_SERVICE_PORT}:${AUTH_SERVICE_PORT}"
    depends_on:
      - postgres
    environment:
      DATABASE_URL: "${DATABASE_URL}"
      JWT_SECRET: "${JWT_SECRET}"
      AUTH_SERVICE_BASE_PATH: "${AUTH_SERVICE_BASE_PATH}"

  gateway:
    build:
      context: .
      dockerfile: gateway/Dockerfile
    ports:
      - "${GATEWAY_PORT}:${GATEWAY_PORT}"
    depends_on:
      - auth-service
    environment:
      AUTH_SERVICE_URL: "http://${AUTH_SERVICE_HOST}:${AUTH_SERVICE_PORT}"
      AUTH_SERVICE_REG_PATH: "${AUTH_SERVICE_REG_PATH}"
      AUTH_SERVICE_LOGIN_PATH: "${AUTH_SERVICE_LOGIN_PATH}"
      HTTP_CLIENT_TIMEOUT: "${HTTP_CLIENT_TIMEOUT}"
